*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#b3c9f5;

}
h1{
    display:flex;
    justify-content: center;
}
#form{
    display: flex;
    justify-content: center;

}
.input_form{
    background-color: rgb(209 209 54);
    border-radius: 5px;
    padding: 25px;
    
}
#add_contact{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 12px 10px 10px 190px;
    border-radius: 5px;
    background-color: rgb(69 93 126);
    color: white;
    font-style: bold;
    cursor: pointer;
}
#add_contact:hover {
    background-color: rgba(16, 66, 20, 0.877);
    border-color: rgba(16, 58, 5, 0.836);
    cursor: pointer;
    perspective: 100rem;
}

#editBtn{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 12px 10px 10px 190px;
    border-radius: 5px;
    background-color: rgb(69 93 126);
    color: white;
    font-style: bold;
    cursor: pointer;
}
#T_contacts{
    border-collapse: separate;
    border-spacing: 60px 0px;
    background-color: rgb(209 209 54);
    margin-top:5px;
    border-radius: 5px;

    
}
.mandatory {
    color: wheat;
}

.valid {
    -webkit-box-shadow: 2px 2px 19px 8px rgba(47, 255, 86, 0.81);
    box-shadow: 2px 2px 19px 8px rgba(47, 255, 86, 0.81);
    border-color: #2FFF56;
    background-color: rgba(47, 255, 86, .5);
}

.invalid {
    -webkit-box-shadow: 2px 2px 19px 8px rgba(255, 0, 0, 0.81);
    box-shadow: 2px 2px 19px 8px rgba(255, 0, 0, 0.81);
    border-color: red;
    background-color: rgba(255, 0, 0, .5);
}
.hidden{
    display: none !important;

}
