
body{
    max-width: 1200px;
    margin: 0 auto;
    background-color:#4e0808b0;
    background-size: 100%;
    font-family: Roboto, sans-serif;
   
}
.logo{
    float: left;
}
.cart_admin_btn{
    padding: 2px;
}
a{
    font-style: oblique;
    color:#3f51b5;
    text-decoration: none;
}
a:hover{
    color: #ff7a59;
}
.MyBtns{
    padding: 5px;
    background-color: #4e0808b0;
    margin-right: 51px;
    border-radius: 15px;
    width: 54px;
}
.MyBtns:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    background:#fff;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.productImg{
    width: 150px;
}
form {
    display:flex;
    flex-direction:row;
    border:1px solid grey;
    padding:2px;
}
#search {
    width: 300px;
    flex-grow:2;
    border:none;
}
#search:focus {
    outline: none;
}
  
.searchBtn {
    background-color: white;
    border:none;
    color:rgb(153, 149, 149);
}
.search_form_buttons{
    padding: 50px;
    display: flex;
    justify-content: space-between;
}    

.welcome{
    width:100%; 
    height:100%; 
    object-fit:cover;
}
.product_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    

}
.footerList{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.social_media{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.icons{
    margin-left:10px;
}
.icons i {
    margin-top: 16px;
}
footer{
    background-color: #f0f8ff;
}
.hidden{
    display: none;
}
.container{
    background-color:aliceblue;
    
}
.col{
    padding: 15px;
    margin:0 auto;
}
.col:hover{
    border:2px solid #4e0808b0;
    border-radius: 2px;
    cursor: pointer;
}
button{
    background-color: #4e0808b0;
    color: white;
}
button:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    cursor: pointer;
}

.lds-dual-ring{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;   
}
.alertBox{
    display: none;
    color: black;
    justify-content: center;
    background-color: rgb(46, 150, 46);
}
/*Responsive*/

/*@media (min-width: 768px){
    body{
        width:1200px;
    }
}
@media (min-width: 992px) {
    body{
        width: 1200px;
    }
}
@media (min-width: 1200px) {
	.body {
		width: 1200px;
	}
}
@media (min-width: 1600px) {
	body{
		width: 1200px;
    }
}
@media (min-width: 576px) { 
    body{
        width: 1200px;
    }
 }*/
@media (max-width: 575.98px) { 
    .container-md{
        width: 680px;
        margin: 0 auto;
        
    }
    form{
        width: 265px;
        height: 33px;
    }
    .cart_admin_btn{
        display: flex;
    }
}
 @media (min-width: 576px) and (max-width: 767.98px) { 
    body{
        max-width: 99%;
        margin: 0 auto;
    }
    form{
        width: 265px;
        height: 33px;
    }
    .cart_admin_btn{
        display: flex;
    }

 }
 @media (min-width: 768px) and (max-width: 991.98px) { 
     body{
         max-width: 100%;
     }
  }
